@model Band

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bands Data</h1>
</div>
<a asp-controller="Home" asp-action="Edit" asp-route-id="0">Add Band</a><br  />
<table border = "2">
    <thead>
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th>Founded</th>
            <th>Origin</th>
            <th>Genre</th>
            <th>Noteable Works</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var band in ViewBag.bands){
        <tr>
            <td>@band.name</td>
            <td>@band.members</td>
            <td>@band.founded</td>
            <td>@band.origin</td>
            <td>@band.genre</td>
            <td>@band.notableWorks</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@band.BandId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@band.BandId">Delete</a></td>    
        </tr>
        }
    </tbody>
</table>
